@import "../../Fonts.scss";

.generalSignInBlock {
    background: #f3f0e1;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;

    .leftSignInBlock {
        width: 33%;
        padding: 107px 30px 49px 30px;
        // border: 1px solid black;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        .blockImageForLeftSignInBlock {
            margin-top: 100px;

            .imageForLeftSignInBlock {
                width: 100%;
                height: 100%;
            }
        }

        .titleForLeftSignInBlock {
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 56px;
            line-height: 124.7%;
            color: #2c5d7d;
        }
        .copyrightForLeftSignInBlock {
            font-family: Jost;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #2c5d7d;
        }
    }

    .rightSignInBlock {
        width: 67%;
        background: #ffffff;
        box-shadow: 0px 6px 61px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        height: 100vh;
        // border: 1px solid black;
        // display: flex;

        .topBlockRightSigInBlock {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            padding: 60px 37px 0px 0px;
            .spanTopBlockRightSigInBlock {
                font-family: Jost;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                color: #2c5d7d;
            }

            .linkTopBlockRightSigInBlock {
                font-family: Jost;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                color: #ef5839;
                margin-left: 3px;
            }
        }

        .formBlockRightSigInBlock {
            margin: 141px auto 0 auto;
            width: 70%;

            // display: flex;
            // flex-direction: column;
            // align-items: left;
            // justify-content: center;

            .titleformBlockRightSigInBlock {
                font-family: Jost;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 46px;
                color: #2c5d7d;
            }

            .buttomSNformBlockRightSigInBlock {
                display: flex;
                justify-content: space-between;
                margin-top: 26px;

                .imageForButton {
                    margin-right: 12px;
                }

                .facebookformBlockRightSigInBlock {
                    display: flex;
                    align-items: center;
                    // padding: 12px 20px;

                    width: 49%;
                    height: 56px;

                    background: #3b5998;
                    border-radius: 8px;

                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 32px;
                    /* identical to box height */
                    border: none;

                    color: #ffffff;
                    cursor: pointer;
                }
                .googleformBlockRightSigInBlock {
                    display: flex;
                    align-items: center;
                    // padding: 12px 20px;

                    width: 49%;
                    height: 56px;

                    background: #4285f4;
                    border-radius: 8px;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 32px;
                    /* identical to box height */

                    color: #ffffff;
                    border: none;
                    cursor: pointer;
                }
            }

            .blockForLines {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;

                span {
                    font-family: Jost;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;

                    color: #2e354f;
                }
                .HRLine {
                    width: 48%;
                    height: 1px;
                    background: #e5e5e5;
                    color: #e5e5e5;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                    border-width: 0;
                }
            }

            .inputformBlockRightSigInBlock {
                display: flex;
                justify-content: space-between;
                margin-top: 23px;

                .blockInputAndLabel {
                    width: 49%;

                    input:active,
                    :hover,
                    :focus {
                        outline: 0;
                        outline-offset: 0;
                    }

                    .blockLabel {
                        font-family: Jost;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 30px;

                        color: #2c5d7d;
                    }
                    .blockInput {
                        margin-top: 12px;
                        width: 100%;
                        box-sizing: border-box;
                        background: #f8f8f8;
                        border-radius: 8px;
                        height: 49px;
                        border: 1px solid #e5e5e5;
                        padding-left: 16px;

                        font-family: Jost;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;

                        color: #2e354f;
                    }
                }
            }

            .blockPolicy {
                margin-top: 33px;
                font-family: Jost;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;

                color: #2c5d7d;
            }
            .buttonformBlockRightSigInBlock {
                margin-top: 35px;
                .AccauntformBlockRightSigInBlock {
                    width: 49%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 12px 110px;
                    background: #ef5839;
                    border-radius: 8px;
                    height: 56px;
                    border: none;
                    cursor: pointer;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 32px;
                    /* identical to box height */

                    color: #ffffff;
                }
            }
        }
    }
}
