.spinner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #C4C4C4; 
    opacity: 0.8;
    z-index: 10;
}
