@import "../../Fonts.scss";

.HomePage {
    width: 100vw;
    height: 100vh;
    background: #ebeef1;

    &-DivHeading {
        padding-top: 20px;
        text-align: center;
    }

    &-Heading {
        // width: 328px;
        // height: 21px;
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 121.3%;
        text-align: center;
        color: #2d507c;
    }

    &-DivLogo {
        // margin-top: 30px;
        // display: flex;
        // justify-content: space-evenly;
        // align-items: center;
        text-align: center;
    }

    &-Logo {
        width: 30%;
        height: 40%;
        max-height: 100%;
        max-width: 100%;
    }

    &-DivButton {
        text-align: center;
    }

    &-Button {
        // display: flex;
        // align-items: center;
        // padding: 8px 134px;
        background: #2d507c;
        border-radius: 4px;

        position: static;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #f8f8f8;
        // flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
        border: none;
        text-align: center;
        width: 330px;
        height: 56px;
    }
}
