@import "../../Fonts.scss";

.SignUpPage {
    background: #f3f0e1;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;

    .RightSignUpBlock {
        width: 33%;
        padding: 107px 30px 49px 30px;
        // border: 1px solid black;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        @media screen and (max-width: 1300px) {
            display: none;
        }

        .blockImageForRightSignUpBlock {
            margin-top: 100px;

            .imageForRightSignUpBlock {
                width: 100%;
                height: 100%;
            }
        }

        .titleForRightSignUpBlock {
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 56px;
            line-height: 124.7%;
            color: #2c5d7d;
        }
        .copyrightForRightSignUpBlock {
            font-family: Jost;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #2c5d7d;
        }
    }

    .LeftBlock {
        width: 67%;
        background: #ffffff;
        box-shadow: 0px 6px 61px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        height: 100vh;
        // border: 1px solid black;
        // display: flex;

        @media screen and (max-width: 1300px) {
            width: 100%;
        }

        &-TopBlock {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            padding: 60px 37px 0px 0px;

            @media screen and (max-width: 650px) {
                padding: 30px 15px 0px 0px;
            }
        }

        &-Span {
            font-family: Jost;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #2c5d7d;
        }

        &-Link {
            font-family: Jost;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #ef5839;
            margin-left: 3px;
        }

        .formBlockRightSignUpBlock {
            margin: 141px auto 0 auto;
            width: 70%;

            // display: flex;
            // flex-direction: column;
            // align-items: left;
            // justify-content: center;

            @media screen and (max-width: 850px) {
                width: 95%;
                margin: 60px auto 0 auto;
            }

            @media screen and (max-width: 650px) {
                margin: 30px auto 0 auto;
            }

            .titleformBlockRightSignUpBlock {
                font-family: Jost;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 46px;
                color: #2c5d7d;
            }

            .inputformBlockRightSignUpBlock {
                display: flex;
                justify-content: space-between;
                margin-top: 23px;

                @media screen and (max-width: 650px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0;
                }

                
                .blockInputAndLabel {
                    width: 49%;

                    @media screen and (max-width: 650px) {
                        width: 100%;
                        margin-top: 10px;
                    }

                    input:active,
                    :hover,
                    :focus {
                        outline: 0;
                        outline-offset: 0;
                    }

                    .blockLabel {
                        font-family: Jost;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 30px;

                        color: #2c5d7d;
                    }
                    .blockInput {
                        margin-top: 12px;
                        width: 100%;
                        box-sizing: border-box;
                        background: #f8f8f8;
                        border-radius: 8px;
                        height: 49px;
                        border: 1px solid #e5e5e5;
                        padding-left: 16px;

                        font-family: Jost;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;

                        color: #2e354f;
                    }
                }
            }

            .blockPolicy {
                margin-top: 33px;
                font-family: Jost;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;

                color: #2c5d7d;
            }
            .buttonformBlockRightSignUpBlock {
                margin-top: 35px;
                .AccauntformBlockRightSignUpBlock {
                    width: 49%;
                    background: #ef5839;
                    border-radius: 8px;
                    height: 56px;
                    border: none;
                    
                    cursor: pointer;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 32px;
                    /* identical to box height */

                    color: #ffffff;

                    &:disabled {
                        background:lightgrey;
                    }
                    @media screen and (max-width: 650px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
