@import "../../Fonts.scss";

.leftBar {
    width: 33%;
    min-height: calc(100vh - 80px);
    background: #213c5f;

    @media screen and (max-width: 650px) {
        width: 100%;
    }

    .blockContent {
        padding: 25px;
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;

        color: #ffffff;

        .mainBlockContent {
            cursor: pointer;

            .arrow {
                border: solid #ffffff;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                margin-right: 18px;
                text-align: center;
            }

            .up {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }

            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

        }

        .childrenBlockContentHidden {
            display: none;
        }

        .childrenBlockContent {
            cursor: pointer;
            // padding-top: 30px;
            // padding-left: 20px;
            padding: 15px 0px 15px 20px;
        }

        .childrenBlockContent:hover {
            background: #2c5d7d;
        }
    }
}

.leftBarClose {
    display: none;
    width: 0;
}
