@import "../../Fonts.scss";

.leftBar {
    width: 33%;
    min-height: calc(100vh - 80px);
    background: #213c5f;

    @media screen and (max-width: 650px) {
        width: 100%;
    }

    .blockContent {
        padding: 25px;
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;

        color: #ffffff;

        .mainBlockContent {
            cursor: pointer;
            


            .arrow {
                width: 1.5em;
                height: 1.5em;
            }

        }

        .mainBlock {
            display: flex;
            align-items: center;
        }

        .childrenBlock {
            display: flex;
        }

        .childrenBlockContentHidden {
            display: none;
        }

        .childrenBlockContent {
            cursor: pointer;
            // padding-top: 30px;
            // padding-left: 20px;
            padding: 15px 0px 15px 38px;
        }

        .childrenBlockContent:hover {
            background: #2c5d7d;
        }
    }
}

.leftBarClose {
    display: none;
    width: 0;
}
