.companyMembers {
    padding: 30px;

    @media screen and (max-width: 650px) {
        padding: 10px;
    }

    .companyMembersHeader {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .headerInputsBlock {
            display: flex;
            width: 100%;
            justify-content: space-between;

            @media screen and (max-width: 1150px) {
                flex-direction: column;
            }

            @media screen and (max-width: 650px) {
                align-items: center;
            }

            .headerInputAndButtonBlock {
                width: 48%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                @media screen and (max-width: 1150px) {
                    width: 100%;
                    padding: 10px 0px;
                }

                @media screen and (max-width: 650px) {
                    flex-direction: column;
                }

                input:active,
                :hover,
                :focus {
                    outline: 0;
                    outline-offset: 0;
                }
                .headerInput {
                    width: 58%;
                    box-sizing: border-box;
                    background: #f8f8f8;
                    border-radius: 8px;
                    height: 49px;
                    border: 1px solid #e5e5e5;
                    padding-left: 16px;

                    font-family: Jost;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 23px;

                    color: #2e354f;
                    @media screen and (max-width: 650px) {
                        width: 100%;
                    }
                }
                .headerInputError {
                    border: 1px solid #ef5839;
                }
                .headerButton {
                    width: 38%;
                    border-radius: 8px;
                    height: 49px;
                    border: none;
                    background: #2d507c;
                    cursor: pointer;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 32px;
                    color: #ffffff;

                    @media screen and (max-width: 650px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 650px) {
                        margin-top: 20px;
                    }
                }

                .headerInputAndSpanBlock {
                    width: 58%;
                    @media screen and (max-width: 650px) {
                        width: 100%;
                    }
                    .headerInput {
                        width: 100%;
                        box-sizing: border-box;
                        background: #f8f8f8;
                        border-radius: 8px;
                        height: 49px;
                        border: 1px solid #e5e5e5;
                        padding-left: 16px;

                        font-family: Jost;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;

                        color: #2e354f;
                    }
                    .headerSpan {
                        width: 100%;
                        font-family: Jost;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;

                        color: #999999;
                    }
                }
            }
        }
    }

    .companyMemberHR {
        opacity: 0.4;
        margin: 10px 0px;
    }

    .companyMembersSearch {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;

        @media screen and (max-width: 650px) {
            flex-direction: column;
        }
        .searchInput {
            width: 48%;

            @media screen and (max-width: 650px) {
                width: 100%;
                padding: 10px 0px;
            }

            input:active,
            :hover,
            :focus {
                outline: 0;
                outline-offset: 0;
            }
            .input {
                width: 100%;
                box-sizing: border-box;
                background: #f8f8f8;
                border-radius: 8px;
                height: 49px;
                border: 1px solid #e5e5e5;
                padding-left: 16px;

                font-family: Jost;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;

                color: #2e354f;
            }
        }
    }

    .companyMembersMain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;

        .membersBlock {
            padding: 0 24px 18px 0;
        }

        .companyMembersMainText {
            font-family: Jost;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 38px;

            color: #2c5d7d;

            padding-bottom: 20px;
        }
    }

    .companyMembersFooter {
        .blockTotal {
            margin-bottom: 40px;
            .total {
                font-family: Jost;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;

                color: #2c5d7d;
            }
        }
        .blockButtons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .blockPagesButtons {
                display: flex;
                .pageButton {
                    cursor: pointer;
                    margin-right: 36px;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    color: #2c5d7d;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                .pageButtonNotActive {
                    color: rgba(44, 93, 125, 0.31);
                }
            }
        }
    }
}

.companyMembersWithLeftBar {
    padding: 30px;

    @media screen and (max-width: 650px * 1.33) {
        padding: 10px;
    }

    .companyMembersHeader {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .headerInputsBlock {
            display: flex;
            width: 100%;
            justify-content: space-between;

            @media screen and (max-width: 1150px * 1.33) {
                flex-direction: column;
            }

            @media screen and (max-width: 650px * 1.33) {
                align-items: center;
            }

            .headerInputAndButtonBlock {
                width: 48%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                @media screen and (max-width: 1150px * 1.33) {
                    width: 100%;
                    padding: 10px 0px;
                }

                @media screen and (max-width: 650px * 1.33) {
                    flex-direction: column;
                }

                input:active,
                :hover,
                :focus {
                    outline: 0;
                    outline-offset: 0;
                }
                .headerInput {
                    width: 58%;
                    box-sizing: border-box;
                    background: #f8f8f8;
                    border-radius: 8px;
                    height: 49px;
                    border: 1px solid #e5e5e5;
                    padding-left: 16px;

                    font-family: Jost;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 23px;

                    color: #2e354f;
                    @media screen and (max-width: 650px * 1.33) {
                        width: 100%;
                    }
                }
                .headerInputError {
                    border: 1px solid #ef5839;
                }
                .headerButton {
                    width: 38%;
                    border-radius: 8px;
                    height: 49px;
                    border: none;
                    background: #2d507c;
                    cursor: pointer;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 32px;
                    color: #ffffff;

                    @media screen and (max-width: 650px * 1.33) {
                        width: 100%;
                    }

                    @media screen and (max-width: 650px * 1.33) {
                        margin-top: 20px;
                    }
                }

                .headerInputAndSpanBlock {
                    width: 58%;
                    @media screen and (max-width: 650px * 1.33) {
                        width: 100%;
                    }
                    .headerInput {
                        width: 100%;
                        box-sizing: border-box;
                        background: #f8f8f8;
                        border-radius: 8px;
                        height: 49px;
                        border: 1px solid #e5e5e5;
                        padding-left: 16px;

                        font-family: Jost;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;

                        color: #2e354f;
                    }
                    .headerSpan {
                        width: 100%;
                        font-family: Jost;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;

                        color: #999999;
                    }
                }
            }
        }
    }   

    .companyMemberHR {
        opacity: 0.4;
        margin: 10px 0px;
    }

    .companyMembersSearch {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;

        @media screen and (max-width: 650px * 1.33) {
            flex-direction: column;
        }
        .searchInput {
            width: 48%;

            @media screen and (max-width: 650px * 1.33) {
                width: 100%;
                padding: 10px 0px;
            }

            input:active,
            :hover,
            :focus {
                outline: 0;
                outline-offset: 0;
            }
            .input {
                width: 100%;
                box-sizing: border-box;
                background: #f8f8f8;
                border-radius: 8px;
                height: 49px;
                border: 1px solid #e5e5e5;
                padding-left: 16px;

                font-family: Jost;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;

                color: #2e354f;
            }
        }
    }

    .companyMembersMain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;

        .membersBlock {
            padding: 0 24px 18px 0;
        }

        .companyMembersMainText {
            font-family: Jost;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 38px;

            color: #2c5d7d;

            padding-bottom: 20px;
        }
    }

    .companyMembersFooter {
        .blockTotal {
            margin-bottom: 40px;
            .total {
                font-family: Jost;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;

                color: #2c5d7d;
            }
        }
        .blockButtons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .blockPagesButtons {
                display: flex;
                .pageButton {
                    cursor: pointer;
                    margin-right: 36px;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    color: #2c5d7d;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                .pageButtonNotActive {
                    color: rgba(44, 93, 125, 0.31);
                }
            }
        }
    }
}
