@import "../../../Fonts.scss";

.Header {
    background: #2d507c;

    .HeadDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 80px;
        padding: 0px 32px;

        @media screen and (max-width: 650px) {
            padding: 0px 12px;
        }


        .HeadLeft {
            display: flex;
            align-items: center;

            .HeadMenu {
                display: inline-block;
                cursor: pointer;
                margin-right: 17px;

                &-One,
                &-Two,
                &-Three {
                    width: 22px;
                    height: 3.5px;
                    background-color: #ffffff;
                    margin: 3.5px 0;
                    transition: 0.4s;
                }

                &-OneClick {
                    // -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    // transform: rotate(-45deg) translate(-9px, 6px);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    margin: -2px 0;
                }

                &-TwoClick {
                    opacity: 0;
                    margin: 0px 0;
                }

                &-ThreeClick {
                    // -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    // transform: rotate(45deg) translate(-8px, -8px);
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    margin: -5px 0;
                }
            }
            .DivLink {
                &-Link {
                    font-family: Jost;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 35px;
                    color: #ffffff;
                    text-decoration: none;

                    @media screen and (max-width: 650px) {
                        font-size: 22px;
                        line-height: 32px;
                    }
                }
            }
        }

        .DivUser {
            display: flex;
            cursor: pointer;
            position: relative;
            padding: 5px 5px;
            &-Img {
                border-radius: 100px;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                object-fit: cover;
            }
            &-Text {
                font-family: Jost;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                text-align: right;
                color: #ffffff;
            }

            @media screen and (max-width: 650px) {
                &-Text {
                    display: none;
                }
            }

            .customSelectBlock {
                position: absolute;
                display: none;
                top: 100%;
           
                right: 0;
                background: #f8f8f8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 5px 0;
                border-radius: 4px;
                min-width: 160px;

                .selectOption {
                    cursor: pointer;
                    padding: 10px 20px;
                    font-family: Jost;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 23px;
                    color: #2c5d7d;

                }

            }
        }

        .DivUser:hover {
            .customSelectBlock {
                display: block;
            }
        }
        .customSelectBlock:hover {
            display: block;

            .selectOption:hover {
                color: #4285f4;
            }
        }
    }
}
